html,
body {
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  background-color: #cccccc;
}


.mt-10 {
  margin-top: 10px !important;
}

#app {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
}

.row {
  margin: 0;
  padding: 0;
}


.footer {
  position: relative;
  height: 20%;
  background-color: #333;
  margin-top: 52px;
  flex: 1 100%;
  color: #fff;
}

.footer .row {
  margin: 30px auto;
}

.footer .col-xs-1 {
  margin-right: 0px;
  padding: 0;
}

.footer .col-xs-4 {
  text-align: right;
  padding: 0;
}

.footer .col-xs-4 h5:first-child {
  color: #333
}

.footer .col-xs-7 {
  padding: 0 0 0 20px;
}

.footer img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.current-user-image {
  cursor: pointer;
}

// .fixed-top-menuzord { width: 100%; z-index: 99; height: 76px; background-color: #fff; }
.add-blog-page .add-blog-title {
  font-size: 25px;
  font-weight: 600;
  margin: 40px 0;
}

.add-blog-page .create-blog {
  color: black;
  font-style: bold;
  font-weight: 500;
}


.main-blog-page .blog-title {
  text-align: center;
}

.main-blog-page .blog-title h1 {
  font-weight: 600;
}

.main-blog-page .display-blog {
  z-index: -1;
}

.main-blog-page .display-blog .blog-left {
  float: left;
  width: 720px;
  display: inline-block;
}

.main-blog-page .display-blog .blog-right {
  float: right;
  width: 320px;
  display: inline-block;
}

.main-blog-page .well a {
  word-wrap: break-word;
}

.main-blog-page .well a:hover {
  text-decoration: none;
}

.main-blog-page .well.right-first {
  padding: 10px 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  height: 200px;
}

.main-blog-page .well.right-first .rf-body {
  height: 85px;
}

.main-blog-page .well.right-first .rf-footer {
  height: 48px;
  padding: 0;
  margin: 57px -20px 0 -20px;
  background-color: #ebf3f9
}

.main-blog-page .well.right-first .rf-footer .col-xs-4 {
  text-align: center;
  width: 32%;
  padding: 3px;
  margin-top: 10px;
  border-right: 1px solid #E0E0E0;
}

.main-blog-page .well.right-first .rf-footer .col-xs-4 a {
  color: gray
}

.main-blog-page .well.right-first .rf-footer .col-xs-4 a:hover {
  color: #337ab7;
  text-decoration: none;
}

.main-blog-page .well.right-first .rf-footer .col-xs-4 a:focus {
  text-decoration: none;
}

.main-blog-page .well.right-first .rf-footer .col-xs-4:last-child {
  border-right: none;
}

.main-blog-page .well.right-first .rf-footer .rf-border {
  border-right: 1px solid #e9ebef;
}

.main-blog-page .well.right-first .rf-body .rf-img {
  width: 100px;
  float: left;
  height: 100px;
}

.main-blog-page .well.right-first .rf-body .rf-img img {
  width: 70px;
  margin: 8px 0;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
}

.main-blog-page .well.right-first .rf-body .rf-info {
  width: 170px;
  float: right;
  height: 75px;
}

.main-blog-page .well.right-first .rf-body .rf-info a {
  color: #00a9da;
}

.main-blog-page .well.right-first .rf-body .rf-info a:focus {
  text-decoration: none;
}

.main-blog-page .well.right-first .rf-body .rf-info h3 {
  margin-bottom: 5px;
  margin-top: 12px;
}

.main-blog-page .well.right-first .rf-body .rf-info p {
  color: gray;
  font-size: 15px;
}

.main-blog-page .well.right-second {
  padding: 10px;
  min-height: 500px;
  margin-left: 10px;
}

.main-blog-page .well.search-bar {
  margin-bottom: 30px;
  padding: 60px 30px;
  border-top: 3px solid #337ab7;
  height: 180px;
}

.main-blog-page .well select {
  height: 42px;
  font-size: 14px;
}

.main-blog-page .well {
  margin-bottom: 10px;
  border-radius: 3px;
  border: 0;
  padding: 25px;
  min-height: 63px;
  background: #fff;
  box-shadow: none;
  position: relative;
}

.main-blog-page .blog .user-row {
  width: 100%;
  position: relative;
}

.main-blog-page .blog .user-img img {
  width: 55px;
  height: 55px;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
}

.main-blog-page .blog .user-img {
  width: 10%;
  float: left;
}

.main-blog-page .blog .user-info h4 {
  margin-top: 5px;
}

.main-blog-page .blog .user-info {
  width: 90%;
  float: right;
}

.main-blog-page .blog .user-info a {
  color: #00a9da
}

.main-blog-page .blog .user-info a:hover {
  color: #337ab7;
}

.main-blog-page .blog .user-info p {
  color: gray;
  font-size: 12px;
}

.main-blog-page .blog .blog-details {
  width: 100%;
  padding: 0;
}

.main-blog-page .blog .blog-details p {
  color: #555;
  font-weight: normal;
  line-height: 25px;
}

.main-blog-page .blog .blog-details-title {
  width: 100%;
}

.main-blog-page .blog .blog-details-title h3 {
  padding-bottom: 10px;
  font-size: 20px;
}

.main-blog-page .blog .blog-details .blog-footer .col-xs-2 button {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  font-size: 16px;
}

.main-blog-page .blog .blog-details .blog-footer .col-xs-2 i {
  color: black
}

.main-blog-page .blog .blog-details .blog-footer .col-xs-2 {
  text-align: right;
  font-size: 16px;
}

.main-blog-page .blog .blog-details .blog-footer .col-xs-2 i {
  margin-right: 10px;
}

.main-blog-page .blog .blog-details .blog-footer .col-xs-2:last-child {
  margin-left: -10px;
}

.main-blog-page .blog .blog-details .blog-footer {
  margin-top: 20px;
}

.main-blog-page .blog .blog-details .ellipsis-btn {
  background-color: #fff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.main-blog-page .blog .blog-details .dropdown {
  position: relative;
  display: inline-block;
}

.main-blog-page .blog .blog-details .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  margin-left: -50px;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.main-blog-page .blog .blog-details .dropdown-content a {
  text-align: center;
  color: black;
  padding: 12px;
  font-size: 12px;
  text-decoration: none;
  display: block;
}

.main-blog-page .blog .blog-details .dropdown-content a:hover {
  background-color: #f1f1f1
}

.main-blog-page .blog .blog-details .dropdown:hover .dropdown-content {
  display: block;
}

.main-blog-page .blog .blog-details .dropdown:hover .ellipsis-btn {
  background-color: #fff;
}

.main-blog-page .search-query input {
  display: inline-block;
  padding: 20px;
  border-radius: 3px;
  width: 480px;
  border-radius: 4px;
  font-size: 16px;
  background-image: url('/images/search.png');
  background-position: 445px 12px;
  background-repeat: no-repeat;
}

.main-blog-page .search-query input:focus {
  width: 480px;
}

.main-blog-page .sort-by {
  padding-right: 0;
}



.blog-details-page {
  padding-bottom: 50px;
  width: 1048px;
  margin-top: 30px;
  min-height: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: white
}

.blog-details-page .blog-details {
  padding: 20px 50px;
}

.blog-details-page .blog-details .blog-title {
  border-bottom: 2px solid #eee;
}

.blog-details-page .blog-details .blog-title h2 {
  font-weight: 600;
}

.blog-details-page .blog-details .blog-info {
  width: 100%
}

.blog-details-page .blog-details .info-left {
  float: left;
  width: 50%;
  color: #337ab7;
  font-weight: 600
}

.blog-details-page .blog-details .info-right {
  float: right;
  width: 50%;
  text-align: right;
}

.blog-details-page .blog-details .blog-content {
  clear: left;
  margin: 30px 0;
  color: black;
  min-height: 400px;
  font-size: 15px;
  color: #555;
  line-height: 30px;
}

.blog-details-page .blog-details .blog-content p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.blog-details-page .blog-comments {
  padding: 0px 50px;
}

.blog-details-page .blog-comments h3 {
  margin-bottom: -20px;
  padding: 0;
}

.blog-details-page .comment-textarea {
  margin-top: 0;
}

.blog-details-page .comment-textarea .row {
  margin: 10px 0;
}

.login-page {

}

.login-page form img {
  border-radius: 50%;
  width: 100px;
}

.login-page form .form-content {
  width: 350px;
  margin: 20px auto;
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff
}

.login-page form .form-content .help-block {
  color: #a94442;
}

.login-page form .form-group:first-child {
  text-align: center;
  margin-bottom: 30px;
}

.login-page form label {
  font-weight: normal
}

.register-page {
  margin: 2px 0px 1px 0px;
  height: 100%;
  background-color: #cccccc;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  padding: 62px;
}

.register-page .register-section {
  margin: 0 200px;
}

.register-page .register-section .row {
  margin-left: -15px;
  margin-right: -15px
}

.register-page .register-section form .form-content {
  width: 539px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  padding: 20px 40px 40px;
}

.register-page .register-section form hr {
  border-width: 10px;
}

.register-page .register-section form hr.hr-2 {
  margin-top: 10px;
}

.register-page .register-section form input {
  font-weight: normal;
  padding: 18px 15px;
  margin-bottom: 15px;
}

.register-page .register-section form .help-block {
  color: #a94442;
  font-size: 10px;
  font-weight: normal;
}

.user-tabs {
  background: #fff;
  border-radius: 3px;
  padding: 5px;
}

.tabs-labels {
  margin: 0;
  padding: 0px;
  width: 100%;
}

.tabs-labels li {
  display: inline-block;
  width: 33%;
  border: 2px solid #fff;
  margin: 0;
  border-right: none;
  background-color: #eee
}

.tabs-labels li:last-child {
  border-right: 2px solid #fff
}

.tabs-labels li a {
  padding: 8px 12px;
  display: block;
  font-weight: normal;
  text-align: center;
  color: black;
  text-decoration: none;
  border-radius: 3px;
}

.tabs-labels li.active {
  background-color: #337ab7;
}

.tabs-labels li.active > a {
  color: #fff
}

.tabs-content {
  padding: 20px 4px;
  min-height: 500px;
}

.hot-blogs .hot-blog-row {
  margin-top: 5px;
}

.hot-blogs .hot-blog-row .col-xs-3 {
  text-align: right;
}

.hot-blogs .hot-blog-row .col-xs-3 .fa-heart-o {
  margin-right: 6px;
}

.user-page-loading {
  min-height: 752px;
}

.user-bar {
  margin-top: 30px;
  width: 1048px;
  border-radius: 3px;
  padding: 0;
  margin-bottom: 20px;
}

.user-bar .user-background {
  width: inherit;
  min-height: 260px;
  background-repeat: no-repeat;
}

.user-bar .user-img {
  text-align: center;
  margin-top: -220px;
}

.user-bar .user-img .input-file {
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: -100px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.user-bar .user-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-bar .user-info {
  color: #fff;
  text-align: center;
  margin-top: -10px;
}

.user-bar .user-btn {
  height: 11px;
}

.user-bar .user-btn .follow-btn {
  padding: 6px 20px;
  background-color: #337ab7;
  border: none;
  color: #fff;
  margin-right: 10px;
  font-size: 13px;
  font-weight: 500;
  outline: none;
}

.user-bar .user-btn .cancel-follow-btn {
  padding: 6px 20px;
  background-color: #4CAF50;
  border: none;
  color: #fff;
  margin-right: 10px;
  font-size: 13px;
  font-weight: 500;
  outline: none;
}

.user-bar .user-btn .message-btn {
  background-color: gray;
  border: none;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  outline: none;
}

.user-bar .user-btn .cancel-follow-btn:hover {
  background-color: #337ab7;
}

.user-bar .user-btn .follow-btn:hover {
  background-color: #4CAF50;
}

.user-bar .user-btn .message-btn:hover {
  background-color: #5f636d;
}

.user-bar .nav {
  margin-top: 42px;
  padding: 0;
}

.user-bar .nav i {
  margin-right: 6px;
}

.user-bar .nav a {
  color: #333;
  padding: 14px 20px;
}

.user-bar .nav a:hover {
  text-decoration: none;
}

.user-bar .nav a:visit {
  text-decoration: none;
}

.user-bar .well {
  margin: 0;
  border-radius: 0;
  background-color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 15px;
  border: 1px solid #eee;
  border-right: none;
  border-bottom: none;
  border-top: none;
  font-weight: 500;
}

.user-bar .well.user-home-well {
  border-left: none;
}

.user-bar .well:hover {
  background-color: #337ab7;
}

.user-bar .well:hover a {
  color: #fff;
}

.user-bar .well.active {
  background-color: #337ab7;
}

.user-bar .well.active a {
  color: #fff;
  text-decoration: none;
}

.user-bar .dialog-window {
  width: 45%;
}

.user-bar .dialog-content {
  background-color: #fff;
}

.user-bar .modal-body .upload-image {
  text-align: center;
}

.user-bar .modal-body .upload-image img {
  width: 150px;
  height: 150px;
}

.user-bar .modal-body .upload-image input {
  margin: auto;
}

.user-bar .modal-body .upload-image .input-file {
  width: 150px;
  height: 150px;
  margin-bottom: -150px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.user-blogs-content {
  width: 1048px;
  min-height: 450px;
}

.add-blog-content .create-blog .col-xs-3,
.col-xs-9 {
  padding: 0;
  margin: 0;
}

.add-blog-content .create-blog {
  margin: 0;
  padding: 0 20px;
  font-weight: 400;
}

.add-blog-content .create-blog h3 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 30px;
}

.add-blog-content .create-blog .col-xs-9 {
  width: 73%;
  float: right;
}

.add-blog-content .create-blog .create-btn {
  float: right;
  margin-right: 10px;
}

.add-blog-content .create-blog .cancel-btn {
  float: right;
}

.add-blog-content .create-blog .btns {
  margin-bottom: 60px;
}

.content-left {
  width: 262px;
  float: left;
}

.content-right {
  width: 770px;
  float: right;
}

.content-left .well {
  background-color: #fff;
  margin-bottom: 10px;
  font-weight: normal;
}

.content-left .first-left-well {
  padding: 15px 0;
  font-size: 18px;
  min-height: 50px;
  text-align: center;
}

.content-left .first-left-well .row {
  margin: 10px;
}

.content-left .first-left-well .col-xs-4 {
  border-right: 1px solid #ddd;
  padding-top: 0;
}

.content-left .first-left-well .col-xs-4:last-child {
  border: none;
}

.content-left .first-left-well a {
  color: #333;
  font-size: 20px;
  font-weight: 600;
}

.content-left .first-left-well p {
  color: gray;
  font-size: 15px;
  margin: 0 0 5px 2px;
  text-align: center;
}

.content-left .second-left-well {
  padding: 20px;
}

.content-left .second-left-well .isCurrentUser {
  min-height: 300px
}

.content-left .second-left-well .isCurrentUser li > a > i {
  margin-right: 15px;
  color: gray;
}

.content-left .second-left-well .isNotCurrentUser {
  padding-left: 10px;
  min-height: 174px;
}

.content-left .second-left-well .basic-info {
  text-align: left;
  padding: 1px 0;
  font-size: 18px;
}

.content-left .second-left-well .basic-info h5 {
  font-size: 18px;
  font-weight: 600;
}

.content-left .second-left-well .row {
  margin-top: 10px;
  font-size: 15px;
  color: gray;
}

.content-left .second-left-well .info-field {
  color: #00a9da;
  margin-left: 5px;
}

.content-left .second-left-well li {
  list-style: none;
  padding: 10px 0;
  margin: 5px 15px;
}

.content-left .second-left-well li a {
  padding: 5px 30px;
  color: black;
  font-weight: 500;
  font-size: 15px;
}

.content-left .second-left-well a:hover {
  text-decoration: none;
  color: #00a9da;
}

.content-left .second-left-well li > a > i {
  margin-right: 5px;
  color: gray
}

.content-left .second-left-well li.active {
  background: #F1F3FA;
}

.content-left .second-left-well li.active > a {
  color: #00a9da
}

.content-left .second-left-well li.active > a > i {
  color: #00a9da
}

.content-left .second-left-well li:hover {
  background: #F1F3FA;
}

.content-left .second-left-well li:hover > a {
  color: #00a9da
}

.content-left .second-left-well li:hover > a > i {
  color: #00a9da
}

.content-right .create-well {
  border-top: 3px solid #00a9da
}

.content-right .create-well .col-xs-7 p {
  color: #00a9da;
  margin-left: 2px;
}

.content-right .create-well .col-xs-5 {
  text-align: right;
  color: gray;
  font-size: 12px;
  font-style: italic;
}

.content-right .create-well .len-span {
  color: #00a9da;
  font-size: 18px;
  margin: 0 2px;
}

.content-right .create-well .len-span-red {
  color: red;
  font-size: 18px;
  margin: 0 2px;
}

.content-right .create-well .textarea-row textarea {
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  border: 1px solid #00a9da;
  background-color: #f9f9f9;
  border-radius: 2px;
  overflow: auto;
  outline: none;
  cursor: pointer;
}

.content-right .create-well .textarea-row textarea:focus {
  border: 1px solid #00a9da;
  background-color: #fff
}

.content-right .create-well .textarea-row textarea:visit {
  border: none;
}

.content-right .create-well .btn-row {
  text-align: right;
}

.content-right .create-well .btn-row .glyphicon {
  margin-right: 5px;
}

.content-right .create-well .btn-row button {
  outline: none;
  border: none;
  margin-left: 10px;
}

.content-right .user-row {
  width: 100%;
  position: relative;
}

.content-right .user-img img {
  width: 55px;
  height: 55px;
  border-radius: 5px;
}

.content-right .user-img {
  width: 10%;
  float: left;
}

.content-right .user-info {
  width: 90%;
  float: right;
  margin-top: -3px;
}

.content-right .user-info a {
  color: #00a9da
}

.content-right .user-info a:hover {
  color: #337ab7;
  text-decoration: none;
  outline: none;
}

.content-right .user-info a:focus {
  text-decoration: none;
}

.content-right .user-info p {
  color: gray;
  font-size: 12px
}

.content-right .blog-details {
  width: 100%;
  padding: 0;
}

.content-right .blog-details p {
  color: #555;
  font-weight: normal;
  line-height: 25px;
  font-size: 16px;
}

.content-right .blog-details-title a:hover {
  text-decoration: none;
}

.content-right .blog-details-title h5 {
  font-size: 15px;
}

.content-right .blog-details .blog-footer .col-xs-2 button {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  font-size: 16px;
}

.content-right .blog-details .blog-footer .col-xs-2 button:visit {}

.content-right .blog-details .blog-footer .col-xs-2 i {
  color: black
}

.content-right .blog-details .blog-footer .col-xs-2 {
  text-align: right;
  font-size: 16px;
}

.content-right .blog-details .blog-footer .col-xs-2 i {
  margin-right: 10px;
}

.content-right .blog-details .blog-footer .col-xs-2:last-child {
  margin-left: -10px;
}

.content-right .blog-details .blog-footer {
  margin-top: 20px;
}

.content-right .blog-details .blog-footer a:hover {
  text-decoration: none;
}

.content-right .blog-details .blog-footer a:focus {
  text-decoration: none;
}

.content-mid .user-row {
  width: 100%;
  position: relative;
}

.content-mid .user-img img {
  width: 55px;
  height: 55px;
  border-radius: 5px;
}

.content-mid .user-img {
  width: 8%;
  float: left;
}

.content-mid .user-info {
  width: 92%;
  float: right;
  margin-top: -3px;
}

.content-mid .user-info a {
  color: #00a9da
}

.content-mid .user-info a:hover {
  color: #337ab7;
  text-decoration: none;
  outline: none;
}

.content-mid .user-info a:focus {
  text-decoration: none;
}

.content-mid .user-info p {
  color: gray;
  font-size: 12px
}

.content-mid .blog-details {
  width: 100%;
  padding: 0;
}

.content-mid .blog-details p {
  color: #555;
  font-weight: normal;
  line-height: 25px;
  font-size: 16px;
}

.content-mid .blog-details-title a:hover {
  text-decoration: none;
}

.content-mid .blog-details-title h5 {
  font-size: 15px;
}

.content-mid .blog-details .blog-footer .col-xs-2 button {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  font-size: 16px;
}

.content-mid .blog-details .blog-footer .col-xs-2 button:visit {}

.content-mid .blog-details .blog-footer .col-xs-2 i {
  color: black
}

.content-mid .blog-details .blog-footer .col-xs-2 {
  text-align: right;
  font-size: 16px;
}

.content-mid .blog-details .blog-footer .col-xs-2 i {
  margin-right: 10px;
}

.content-mid .blog-details .blog-footer .col-xs-2:last-child {
  margin-left: -10px;
}

.content-mid .blog-details .blog-footer {
  margin-top: 20px;
}

.content-mid .blog-details .blog-footer a:hover {
  text-decoration: none;
}

.content-mid .blog-details .blog-footer a:focus {
  text-decoration: none;
}

.content-mid .well {
  background-color: #fff;
  margin-bottom: 10px;
  font-weight: normal;
  padding: 20px 25px;
}

.content-mid .blog-details .ellipsis-btn {
  background-color: #fff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.content-mid .blog-details .dropdown {
  position: relative;
  display: inline-block;
}

.content-mid .blog-details .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  margin-left: -50px;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.content-mid .blog-details .dropdown-content a {
  text-align: center;
  color: black;
  padding: 12px;
  font-size: 12px;
  text-decoration: none;
  display: block;
}

.content-mid .blog-details .dropdown-content a:hover {
  background-color: #f1f1f1
}

.content-mid .blog-details .dropdown:hover .dropdown-content {
  display: block;
}

.content-mid .blog-details .dropdown:hover .ellipsis-btn {
  background-color: #fff;
}

.content-right .well .col-xs-5,
.col-xs-7 {
  padding: 0;
  margin: 0;
}

.content-right .well {
  background-color: #fff;
  margin-bottom: 10px;
  font-weight: normal;
  padding: 20px 25px;
}

.content-right .list-blogs .blog-title a {
  color: #00a9da;
  word-wrap: break-word;
  font-size: 15px;
  font-weight: 400;
}

.content-right .list-blogs .blog-title a:hover {
  text-decoration: none;
}

.content-right .list-blogs .blog-title h6 {
  color: #CCCCCC;
  font-size: 10px;
  margin: 0;
}

.content-right .list-blogs .blog-manage {
  padding: 0;
}

.content-right .list-blogs .blog-manage button {
  font-weight: normal;
  margin-top: 22px;
}

.content-right .list-blogs .blog-manage .delete-btn {
  float: right;
  margin-left: 10px;
}

.content-right .list-blogs.micro-blog {
  border-left: 3px solid #00a9da
}

.content-right .list-blogs.article {
  border-left: 3px solid black
}

.content-right .blog-details .ellipsis-btn {
  background-color: #fff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.content-right .blog-details .dropdown {
  position: relative;
  display: inline-block;
}

.content-right .blog-details .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  margin-left: -50px;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.content-right .blog-details .dropdown-content a {
  text-align: center;
  color: black;
  padding: 12px;
  font-size: 12px;
  text-decoration: none;
  display: block;
}

.content-right .blog-details .dropdown-content a:hover {
  background-color: #f1f1f1
}

.content-right .blog-details .dropdown:hover .dropdown-content {
  display: block;
}

.content-right .blog-details .dropdown:hover .ellipsis-btn {
  background-color: #fff;
}

.k-blue {
  background-color: #337ab7;
  color: #fff;
}

// .blue { background-color: #008CBA;}
.red {
  background-color: #f44336;
}

.gray {
  background-color: #e7e7e7;
  color: black;
}

.black {
  background-color: #555555;
}

.black:hover {
  background-color: #f0ad4e;
}

.green {
  background-color: #4CAF50;
}

.yellow {
  background-color: #f0ad4e;
}

.yellow:hover {
  background-color: #4CAF50;
}

.search-bar .search-query input:focus {
  width: 280px;
}

.search-bar .search-query input {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 3px;
  width: 200px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

.search-bar .fa-search {
  display: inline-block;
  margin-left: -25px;
  color: gray;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.search-bar .sort-by {
  padding-right: 0;
}

.image-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.image-tooltip input[type=file]:hover {
  background: none;
}

.image-tooltip .tooltiptext {
  visibility: visible;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}


/*.image-tooltip:hover .tooltiptext { visibility: visible;}*/

.settings-content {
  width: 1048px;
  min-height: 450px;
}

.settings-content .settings-left {
  width: 262px;
  float: left;
}

.settings-content .settings-right {
  width: 770px;
  float: right;
}

.settings-content .settings-left .well {
  background-color: #fff;
  padding: 20px 0px;
}

.settings-content .settings-left .well li {
  list-style: none;
  padding: 10px 0;
  margin: 5px 25px;
}

.settings-content .settings-left .well li a {
  padding: 5px 20px;
  color: black;
  font-weight: 500;
  font-size: 15px;
}

.settings-content .settings-left .well a:hover {
  text-decoration: none;
  color: #00a9da
}

.settings-content .settings-left .well li i {
  margin-right: 5px;
}

.settings-content .settings-left .well li.active {
  background: #F1F3FA;
}

.settings-content .settings-left .well li.active > a {
  color: #00a9da
}

.settings-content .settings-left .well li:hover {
  background: #F1F3FA;
}

.settings-content .settings-left .well li:hover > a {
  color: #00a9da
}

.settings-content .settings-right .personal-info {
  background-color: #fff;
  min-height: 400px;
  padding: 30px 50px;
}

.settings-content .settings-right .personal-info .col-sm-4 p {
  padding-top: 7px;
  margin-bottom: 0;
}

.settings-content .settings-right .personal-info .col-sm-8 p {
  padding-top: 7px;
  margin-bottom: 0;
}

.settings-content .settings-right .personal-info label {
  margin-right: 30px;
}

.settings-content .settings-right .personal-info h2 {
  margin: 0 15px 10px 0;
  font-weight: 600;
  font-size: 25px;
  width: 40%;
  padding-bottom: 10px;
  color: #337ab7;
}

.settings-content .settings-right .personal-info .info-empty {
  color: #a94442;
  font-style: italic;
}

.settings-content .settings-right .personal-info .options {
  margin-top: 30px;
}

.settings-content .settings-right .personal-info .options button {
  outline: none;
  border: none;
}

.settings-content .settings-right .personal-info .options .edit-btn {
  outline: none;
  border: none;
  color: #fff;
}

.settings-content .settings-right .personal-info .options .save-btn {
  margin-right: 10px;
}

.settings-content .settings-right .personal-info .options .cancel-btn {
  border: 1px solid #E0E0E0;
}

.settings-content .settings-right .personal-info .control-label {
  text-align: left;
}

.settings-content .settings-right .personal-info .form-fields-input {
  width: 31%;
  display: inline-block;
  margin-right: 11px;
}

.settings-content .settings-right .personal-info .form-fields-input:last-child {
  margin-right: 0;
}

.settings-content .settings-right .personal-info .change-password {
  padding-top: 20px;
}

.settings-content .settings-right .personal-info .help-block {
  font-size: 12px;
}

.settings-content .settings-right .personal-info .change-password .help-block {
  color: #a94442;
}

// .menuzord .menuzord-section { width: 1048px; margin:0 auto;}
// .menuzord .menuzord-left { width: 200px; float: left; padding:24px 0;height: 72px; text-align: left;}
// .menuzord .menuzord-left a { font-size: 24px; font-weight: 600;}
// .menuzord .menuzord-mid { width:500px;}
// .menuzord .menuzord-right { width: 248px; height: 72px;}
// .menuzord .menuzord-right li { display: inline-block; float: right;}
// .menuzord .menuzord-right li a { margin: 10px 0; padding:16px; display: inline-block; text-decoration: none; font-size: 14px; font-weight: 600; color: #888; outline: 0; line-height: 1.42857143; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight-color: transparent;}
// .menuzord .menuzord-right li:hover { background-color: #337ab7;}
// .menuzord .menuzord-right li:hover > a { color: #fff;}
// .menuzord .menuzord-right li.active { background-color: #337ab7;}
// .menuzord .menuzord-right li.active > a { color: #fff;}
// .menuzord .menuzord-right .user-img:hover { background: #333 }
// .menuzord .menuzord-right .user-img:hover > ul.dropdown  {display: block;}
// .menuzord .menuzord-right .user-img a { padding: 6px 0; color: #ccc}
// .menuzord .menuzord-right .user-img img { width: 40px; height: 40px; border-radius: 50%;}
// .menuzord .menuzord-right .user-img ul.dropdown { list-style: none; margin-left: -100px; margin-top: 0px; padding: 0; display: none; background-color: #333; position: absolute; z-index: 99; min-width: 180px; white-space: nowrap;}
// .menuzord .menuzord-right .user-img ul.dropdown li { clear: both; width: 100%; border: 0 none; font-size: 14px; position: relative; padding: 0;}
// .menuzord .menuzord-right .user-img ul.dropdown li a{ width: 100%; background: none; padding: 10px 25px; color: #fff; text-decoration: none; display: inline-block; float: left; clear: both; position: relative; outline: 0; font-weight: normal; -o-transition: padding .2s linear; -moz-transition: padding .2s linear; -webkit-transition: padding .2s linear; transition: padding .2s linear;}
.comments-page .comment-textarea {
  margin-top: 20px;
}

.comments-page .comment-textarea button {
  float: right;
  background-color: #337a97;
  border: none;
  color: #fff;
  outline: none;
}

.comments-page .comment-textarea button[disabled]:hover {
  background-color: #337a97
}

.comments-page .comment-textarea .col-xs-10,
.col-xs-2 {
  padding: 0;
  margin: 0;
}

.comments-page .comments .comment-row:first-child {
  margin-top: 20px;
}

.comments-page .comments .comment-row .col-xs-1,
.col-xs-9 {
  margin: 0;
  padding: 0;
}

.comments-page .comments .comment-row .col-xs-9 h5 {
  margin: 5px 0;
  word-wrap: break-word;
}

.comments-page .comments .comment-row .col-xs-9 p {
  font-weight: 500;
  color: gray;
  font-size: 12px;
  margin-bottom: -10px;
}

.comments-page .comments .comment-row .col-xs-9 p > button {
  color: #00a9da;
  font-size: 12px;
  margin-top: -3px;
  margin-left: 15px;
  background: none;
  outline: none;
  border: none;
  padding: 0;
}

.comments-page .comments .comment-row {
  border-top: 1px solid #eee;
  padding: 10px 0;
  margin-bottom: 0px;
}

.comments-page .comments .comment-row img {
  width: 45px;
  height: 45px;
  border-radius: 3px;
}

.comments-page .comments .comment-thumbs {
  margin: 0;
  padding: 0;
  text-align: right;
  color: red
}

.comments-page .comments .reply-row {
  padding: 0
}

.comments-page .comments .reply-row .col-xs-2 {
  text-align: right;
}

.comments-page .comments .reply-row .col-xs-2 button {
  background-color: #00a9da;
  color: #fff;
  outline: none;
  border: none;
}

.user-messages .messages-content .well {
  background-color: #fff;
  min-height: 350px;
  padding: 20px 40px;
}

.user-follows .follows-content .follows-bg {
  background-color: #fff;
  min-height: 350px;
}

.user-follows-tabs .following {
  background-color: #fff;
  border: 1px solid #E0E0E0;
}

.user-follows-tabs .following .following-image img {
  width: 60px;
  height: 60px;
}

.user-follows-tabs .following .following-info h4 {
  margin-top: 5px;
}

.user-follows-tabs .following .following-btn {
  margin: 20px 0;
}

.user-follows-tabs .following .following-btn button {
  float: right;
  margin: auto 0;
}

.user-follows-tabs .tabs-labels li {
  width: 33.333%
}

.user-follows-tabs .tabs-labels li > a {
  padding: 10px 0;
}

.user-follows-tabs .follow-btn {
  padding: 6px 20px;
  background-color: #337ab7;
  border: none;
  color: #fff;
  margin-right: 10px;
  font-size: 13px;
  font-weight: 500;
  outline: none;
}

.user-follows-tabs .cancel-follow-btn {
  padding: 6px 20px;
  background-color: #4CAF50;
  border: none;
  color: #fff;
  margin-right: 10px;
  font-size: 13px;
  font-weight: 500;
  outline: none;
}

.user-follows-tabs .cancel-follow-btn:hover {
  background-color: #337ab7;
}

.user-follows-tabs .follow-btn:hover {
  background-color: #4CAF50;
}

.user-more .more-content .well {
  background-color: #fff;
  min-height: 350px;
}
