.footer {
  position: relative;
  height: 20%;
  background-color: #333;
  margin-top: 52px;
  color: #fff;
}

.footer .row {
  margin: 30px auto;
}

.footer .col-xs-1 {
  margin-right: 0px;
  padding: 0;
}

.footer .col-xs-4 {
  text-align: right;
  padding: 0;
}

.footer .col-xs-4 h5:first-child {
  color: #333
}

.footer .col-xs-7 {
  padding: 0 0 0 20px;
}

.footer img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.current-user-image {
  cursor: pointer;
}

.tabs-labels {
  margin: 0;
  padding: 0px;
  width: 100%;
}

.tabs-labels li {
  display: inline-block;
  width: 33%;
  border: 2px solid #fff;
  margin: 0;
  border-right: none;
  background-color: #eee
}

.tabs-labels li:last-child {
  border-right: 2px solid #fff
}

.tabs-labels li a {
  padding: 8px 12px;
  display: block;
  font-weight: normal;
  text-align: center;
  color: black;
  text-decoration: none;
  border-radius: 3px;
}

.tabs-labels li.active {
  background-color: #337ab7;
}

.tabs-labels li.active > a {
  color: #fff
}

.tabs-content {
  padding: 20px 4px;
  min-height: 500px;
}


.k-blue {
  background-color: #337ab7;
  color: #fff;
}

// .blue { background-color: #008CBA;}
.red {
  background-color: #f44336;
}

.gray {
  background-color: #e7e7e7;
  color: black;
}

.black {
  background-color: #555555;
}

.black:hover {
  background-color: #f0ad4e;
}

.green {
  background-color: #4CAF50;
}

.yellow {
  background-color: #f0ad4e;
}

.yellow:hover {
  background-color: #4CAF50;
}

.search-bar .search-query input:focus {
  width: 280px;
}

.search-bar .search-query input {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 3px;
  width: 200px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

.search-bar .fa-search {
  display: inline-block;
  margin-left: -25px;
  color: gray;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.search-bar .sort-by {
  padding-right: 0;
}


.settings-content {
  width: 1048px;
  min-height: 450px;
}

.settings-content .settings-left {
  width: 262px;
  float: left;
}

.settings-content .settings-right {
  width: 770px;
  float: right;
}

.settings-content .settings-left .well {
  background-color: #fff;
  padding: 20px 0px;
}

.settings-content .settings-left .well li {
  list-style: none;
  padding: 10px 0;
  margin: 5px 25px;
}

.settings-content .settings-left .well li a {
  padding: 5px 20px;
  color: black;
  font-weight: 500;
  font-size: 15px;
}

.settings-content .settings-left .well a:hover {
  text-decoration: none;
  color: #00a9da
}

.settings-content .settings-left .well li i {
  margin-right: 5px;
}

.settings-content .settings-left .well li.active {
  background: #F1F3FA;
}

.settings-content .settings-left .well li.active > a {
  color: #00a9da
}

.settings-content .settings-left .well li:hover {
  background: #F1F3FA;
}

.settings-content .settings-left .well li:hover > a {
  color: #00a9da
}

.settings-content .settings-right .personal-info {
  background-color: #fff;
  min-height: 400px;
  padding: 30px 50px;
}

.settings-content .settings-right .personal-info .col-sm-4 p {
  padding-top: 7px;
  margin-bottom: 0;
}

.settings-content .settings-right .personal-info .col-sm-8 p {
  padding-top: 7px;
  margin-bottom: 0;
}

.settings-content .settings-right .personal-info label {
  margin-right: 30px;
}

.settings-content .settings-right .personal-info h2 {
  margin: 0 15px 10px 0;
  font-weight: 600;
  font-size: 25px;
  width: 40%;
  padding-bottom: 10px;
  color: #337ab7;
}

.settings-content .settings-right .personal-info .info-empty {
  color: #a94442;
  font-style: italic;
}

.settings-content .settings-right .personal-info .options {
  margin-top: 30px;
}

.settings-content .settings-right .personal-info .options button {
  outline: none;
  border: none;
}

.settings-content .settings-right .personal-info .options .edit-btn {
  outline: none;
  border: none;
  color: #fff;
}

.settings-content .settings-right .personal-info .options .save-btn {
  margin-right: 10px;
}

.settings-content .settings-right .personal-info .options .cancel-btn {
  border: 1px solid #E0E0E0;
}

.settings-content .settings-right .personal-info .control-label {
  text-align: left;
}

.settings-content .settings-right .personal-info .form-fields-input {
  width: 31%;
  display: inline-block;
  margin-right: 11px;
}

.settings-content .settings-right .personal-info .form-fields-input:last-child {
  margin-right: 0;
}

.settings-content .settings-right .personal-info .change-password {
  padding-top: 20px;
}

.settings-content .settings-right .personal-info .help-block {
  font-size: 12px;
}

.settings-content .settings-right .personal-info .change-password .help-block {
  color: #a94442;
}

.user-messages .messages-content .well {
  background-color: #fff;
  min-height: 350px;
  padding: 20px 40px;
}

.user-follows .follows-content .follows-bg {
  background-color: #fff;
  min-height: 350px;
}

.user-follows-tabs .following {
  background-color: #fff;
  border: 1px solid #E0E0E0;
}

.user-follows-tabs .following .following-image img {
  width: 60px;
  height: 60px;
}

.user-follows-tabs .following .following-info h4 {
  margin-top: 5px;
}

.user-follows-tabs .following .following-btn {
  margin: 20px 0;
}

.user-follows-tabs .following .following-btn button {
  float: right;
  margin: auto 0;
}

.user-follows-tabs .tabs-labels li {
  width: 33.333%
}

.user-follows-tabs .tabs-labels li > a {
  padding: 10px 0;
}

.user-follows-tabs .follow-btn {
  padding: 6px 20px;
  background-color: #337ab7;
  border: none;
  color: #fff;
  margin-right: 10px;
  font-size: 13px;
  font-weight: 500;
  outline: none;
}

.user-follows-tabs .cancel-follow-btn {
  padding: 6px 20px;
  background-color: #4CAF50;
  border: none;
  color: #fff;
  margin-right: 10px;
  font-size: 13px;
  font-weight: 500;
  outline: none;
}

.user-follows-tabs .cancel-follow-btn:hover {
  background-color: #337ab7;
}

.user-follows-tabs .follow-btn:hover {
  background-color: #4CAF50;
}

.user-more .more-content .well {
  background-color: #fff;
  min-height: 350px;
}




.draftJsMentionPlugin__mention__29BEd, .draftJsMentionPlugin__mention__29BEd:visited {
  color: #575f67;
  cursor: pointer;
  display: inline-block;
  background: #e6f3ff;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
  text-decoration: none;
}

.draftJsMentionPlugin__mention__29BEd:hover, .draftJsMentionPlugin__mention__29BEd:focus {
  color: #677584;
  background: #edf5fd;
  outline: 0; /* reset for :focus */
}

.draftJsMentionPlugin__mention__29BEd:active {
  color: #222;
  background: #455261;
}
.draftJsMentionPlugin__mentionSuggestionsEntry__3mSwm {
  padding: 7px 10px 3px 10px;
  -webkit-transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
  transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
}

.draftJsMentionPlugin__mentionSuggestionsEntry__3mSwm:active {
  background-color: #cce7ff;
}

.draftJsMentionPlugin__mentionSuggestionsEntryFocused__3LcTd {
  background-color: #e6f3ff;
}

.draftJsMentionPlugin__mentionSuggestionsEntryText__3Jobq {
  display: inline-block;
  margin-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 368px;
  font-size: 0.9em;
  margin-bottom: 0.2em;
}

.draftJsMentionPlugin__mentionSuggestionsEntryAvatar__1xgA9 {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
.draftJsMentionPlugin__mentionSuggestions__2DWjA {
  border: 1px solid #eee;
  margin-top: 1.75em;
  position: absolute;
  min-width: 220px;
  max-width: 440px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 4px 30px 0px rgba(220,220,220,1);
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  z-index: 2;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  box-sizing: border-box;
  -webkit-transform: scale(0);
          transform: scale(0);
}



.mention {
  color: #4a85bb;
  text-decoration: none;
}

.mentionSuggestions {
  border-top: 1px solid #eee;
  background: #fff;
  border-radius: 2px;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transform-origin: 50% 0%;
  transform: scaleY(0);
  margin: -16px;
}

.mentionSuggestionsEntryContainer {
  display: table;
  width: 100%;
}

.mentionSuggestionsEntryContainerLeft,
.mentionSuggestionsEntryContainerRight {
  display: table-cell;
  vertical-align: middle;
}

.mentionSuggestionsEntryContainerRight {
  width: 100%;
  padding-left: 8px;
}

.mentionSuggestionsEntry {
  padding: 7px 10px 3px 10px;
  transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
}

.mentionSuggestionsEntry:active {
  background-color: #cce7ff;
}

.mentionSuggestionsEntryFocused {
  composes: mentionSuggestionsEntry;
  background-color: #e6f3ff;
}

.mentionSuggestionsEntryText,
.mentionSuggestionsEntryTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mentionSuggestionsEntryText {
}

.mentionSuggestionsEntryTitle {
  font-size: 80%;
  color: #a7a7a7;
}

.mentionSuggestionsEntryAvatar {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
