.menuzord-section {
  width: 100%;
}

.content-pages {
  width: 100%;
}

.home-page {
  .main-sliders {
    height: 15em;
    background-color: @brand-info;
    padding: 8em;
  }
  .main {
    padding: 3em 8em;
  }
}