body {
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  background-attachment: fixed;
  background-size: cover;
  background-color: #e0e0e0;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
}

.row {
  margin: 0;
  padding: 0;
}

.menuzord-section {
  width: 100%;
  flex: 1 100%;
}

.content-pages {
  flex: 0 0 auto;
  position: relative;
}

@media (min-width: 1201px) {
  .content-pages {
    width: @content-pages-width;
    margin: @content-pages-margin;
    padding: @content-pages-padding;
  }
}

@media (max-width: 1200px) {
  .content-pages {
    // width: @content-pages-width;
    // margin: @content-pages-margin;
    padding: @content-pages-padding;
  }
}

.footer {
  flex: 1 100%;
}

.main-sliders {
  flex: 1 100%;
  height: 20em;
  background-color: @brand-info;
  padding: 4em 12em;
  .welcome {
    color: #fff;
    font-size: 40px;
  }
  .sliders-btns {
    .btn-default {
      background: @brand-info;
      color: #fff !important;
      border: 1px solid #fff;
      padding: 6px 20px;
      font-size: 15px;
      &:hover {
        background: #fff;
        color: #717171 !important;
        border: 1px solid #fff;
      }
    }
  }
}
