{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": ["react"],
  "plugins": ["react", "import"],
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "window": true,
    "LoadingBar": true,
    "document": true,
    "Blob": true,
    "$": true,
    "socket": true,
    "swal": true,
    "localStorage": true
  },
  "rules": {
    "linebreak-style": "off",
    "space-before-function-paren": ["error", "never"],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "curly": "off",
    "comma-dangle": ["error", "never"],
    "consistent-return": "off",
    "semi": [2, "always"],
    "new-cap": 0,
    "max-params": "off",
    "max-len": 0,
    "max-depth": "off",
    "quote-props": "off",
    "max-nested-callbacks": ["error", 4],
    "react/jsx-boolean-value": 0,
    "react/self-closing-comp": 0,
    "react/sort-comp": 0,
    "brace-style": 0
  }
}
