.pin {
  .panel {
    padding: 15px 15px 30px 15px;
    .panel-heading {
      .pin-header {
        .pin-title {
          font-size: 25px;
        }
        .text-xs {
          font-size: 11px;
          font-style: italic;
          color: gray;
        }
      }
    }
    .panel-body {
      .pin-image{
        img {
          width: 100%;
          max-height: 100px;
        }
      }
      .pin-body-text {
        p {
          word-break: break-all;
          font-size: 13px;
          &:hover {
            cursor: pointer;
            color: #333;
          }
        }
      }
    }
    .author-name {
      display: block;
      line-height: 10px;
      font-size: 14px;
      color: #333;
      padding-top: 5px;
      .from-now {
        color: gray;
        font-size: 11px;
      }
    }
    .panel-footer {
      .pin-article-user {
        margin: 40px 0 20px 0;
      }
      .pin-footer-icons {
        float: right;
        margin-bottom: 10px;
        .icon-span {
          color: gray;
          font-size: 12px;
          margin-right: 15px;
          display: inline-block;
          &:last-child {
            margin-right: 0;
          }
          &:hover {
            color: @brand-primary;
            cursor: pointer;
          }
        }
      }
    }
  }
}