
.sweet-nav {
  @media (min-width: 768px) {
    .sweet-nav-wrap {
      margin: 0 auto;
      width: @nav-wrap-width;
      padding: @nav-padding;
    }
  }
  .sweet-nav-menu {
    .sweet-nav-search {
      .search-content {
        margin: 10px 0;
        .iconic-input {
          input {
            height: 32px;
          }
        }
      }
    }
    .sweet-nav-blog {
      .btn {
        &.btn-info {
          height: 32px;
          // padding: 0 10px;
          // font-size: 14px;
          color: #fff;
          // margin: 10px 0;
          outline: none;
          border: none;
          &:hover {
            border: none;;
          }
          // span {
          //   // font-size: 14px;
          //   margin: 0;
          //   padding: 0;
          //   color: #fff;
          // }
          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
}