.menuzord {
  .menuzord-menu {
    .menuzord-search {
      margin: 1.6em 0 0 0;
      padding: 0 16px;
      .search-content {
        .iconic-input {
          input {
            height: 34px;
          }
        }
      }
    }
    .menuzord-blog {
      margin: 1.6em 1em 0 0;
      padding: 0 16px;
      i {
        margin-right: 2px;
      }
    }
  }
}