.about {
  .block {
    min-height: 150px;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 15px 20px;
    &.sweeter {
      min-height: 320px;
    }
    &:last-child {
      margin-bottom: 50px;
    }
    .title {
      margin: 10px 0;
      color: #333;
      font-weight: 600;
    }
    p {
      font-size: 14px;
      a {
        font-weight: 600;
      }
    }

    .log-section {
      .message {
        &:hover {
          color: @brand-primary;
          cursor: pointer;
        }
      }
      .author {
        margin-left: 20px;
        font-style: italic;
        font-size: 13px;
        color: gray;
      }
    }

    &.developer {
      .name {
        color: @brand-info;
        font-size: 20px;
        font-weight: 600;
      }
    }

    .logos {
      margin-bottom: 20px;
      img {
        margin-right: 10px;
        &:last-child {
          margin: 0;
        }
      }
    }

    &.leave-message {
      .message-form {
        margin: 30px 0;
      }
      .username {
        margin-top: 30px;
      }
      .message {
        margin: 10px 0;
      }
    }
  }
}