.home-page {
  width: 100%;
  @media (min-width: 769px) {
    .main {
      margin: @content-pages-margin;
      .vbox {
        min-height: 30em;
      }
    }
  }
  .left {
    width: 14%;
    min-height: 500px;
    margin-right: 2%;
    float: left;
    .blog-tags {
      padding: 0;
      list-style: none;
      li {
        margin-bottom: 5px;
        &.active, &:hover {
          a {
            background: @brand-info;
            color: #fff;
          }
        }
        &:hover a{
          cursor: pointer;
        }
        a {
          padding: 0 8px;
          font-size: 18px;
          color: #000;
          height: 40px;
          line-height: 42px;
          border-radius: 3px;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: center;
          white-space: nowrap;
        }
      }
    }
  }
  .right {
    width: 28%;
    float: right;
    .right-login {
      background-color: #fff;
      padding: 15px 20px;
      &.current-user {
        padding: 0;
        height: 200px;
      }
    }
  }
  .main {
    width: 54%;
    float: left;
    .create-well.hide {
      display: none;
    }
    .create-well.show {
      display: block;
    }
  }
}
